:root {
  /* ===========================================
     Цветовая палитра
     =========================================== */

  /* Основные цвет */

  --color-bg: #f9faf7; /*цвет фона */
  --color-text: #253017; /* цвет текста */
  --color-primary: #abd27a; /* по сути цвет кнопок, элементов */
  --color-secondary: #ffffff; /* цвет карточек, цвет фона в шапке и в футере */
  --color-accent: #508826; /* акцентный цвет для выбранного чексбокса, клик по кнопке*/
  --color-border: #69735d; /* для бордера , например в форме регистрации/авторизации, текст плейсхолдера в полях */
  --color-error: #bf3920; /* цвет ошибки */
  --color-overlay: rgba(142, 142, 142, 0.6); /* цвет оверлея*/

  --color-disable-button: #e4e8df; /* дизейбл кнопок*/
  --color-disable-tetx: #9CA197; /* дизейбл текста*/
  --color-hover: #deebc5;

  --color-tag-englih: #ebe5c5; /* иностранные языки*/
  --color-tag-business: #eee7f7; /* Бизнес и карьера*/
  --color-tag-creativity: #f7e7f2; /* Твочество и искусство */
  --color-tag-education: #e7f2f6; /* Образование и развитие*/
  --color-tag-home: #f7ebe5; /* Дом и уют*/
  --color-tag-health: #e9f7e7; /* здоровье*/
  --color-tag-plus: #e8ecf7; /* цвет плашка с +2*/

  --color-alarm: #E0796E; /* цвет у уведомления, если есть непрочитанные */

  /* Шрифты  */
  --font-family-primary: 'Jost', sans-serif;
  --font-family-base: 'Roboto', sans-serif;

  /* Размеры */
  --font-size-base: 1rem; /* 16px по умолчанию */
  --font-size-sm: 0.875rem; /* 14px при базовом 16px */

  /* Адаптивные заголовки с clamp() */
  --font-size-h1: clamp(2rem, 5vw, 2.5rem); /* Минимум 32px, максимум 40px */
  --font-size-h2: clamp(1.5rem, 4vw, 2rem); /* Минимум 24px, максимум 32px */
  --font-size-h3: clamp(
    1.25rem,
    3vw,
    1.5rem
  ); /* минимум 20px, максимум 24px - добавлено на всякий случай */
  --font-size-h4: clamp(
    1rem,
    2vw,
    1.5rem
  ); /* минимум 16px, максимум 24px - добавлено на всякий случай */

  /* Межстрочные интервалы (безразмерные значения) */
  --line-height-base: 1.5rem; /* Базовый межстрочный интервал */

  /* Насыщенность шрифта */
  --font-weight-regular: 400; /* Обычное начертание */
  --font-weight-medium: 500; /* Среднее начертание */
  --font-weight-bold: 600; /* Жирное начертание */
}
