.skillPlate {
  display: inline-block;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  border-radius: 20px;
  padding: 8px 12px;
  /* cursor: pointer; */

  max-width: 130px;
  box-sizing: border-box;
  /* Стили для обрезки текста */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}