h2, h4 {
  margin: 0;
}

.userCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 324px;
  max-height: 444px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.nameDiv {
  font-size: 20px;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.nameH2 {
  font-size: 20px;
  margin-bottom: 4px;
  line-height: 28px;
}

.cityAge {
  font-size: 12px;
  line-height: 16px;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.about {
  max-height: 72px;
  overflow: hidden;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skillsLabel {
  font-size: 16px;
  margin-bottom: 8px;
}

.skillsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.emptySkill {
  color: #999;
}

.favoriteToggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
