.container {
  position: relative;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
}

.logo {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  gap: 12px;
  align-items: center;
 }

.header {
  padding: 40px  36px 0;
}

.headerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 40px;
  width: auto;
}

.closeButton {
  /* position: absolute;
  top: 24px;
  right: 24px; */

  padding: 12px 24px;

  display: flex;
  align-items: center;
  gap: 8px;

  background: #ffffff;
  border: none;
  border-radius: 12px;

  font-size: 16px;
  line-height: 24px;

  color: #253017;
}

.closeButton:hover {
  opacity: 0.8;
}

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
}
